.root {
  box-shadow: 0px 10px 10px 0px #00000026;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 400px;
  background: var(--token-L0G3M3oEAbIr);
  position: relative;
  border-radius: 16px;
}
.rootprimary {
  border: 0px none var(--token-OTZMRzmbadTr);
}
.rootborders_flatLeft {
  border-radius: 20px;
}
.rootborders_flatRight {
  border-radius: 20px;
}
.rootborders_flatCenter {
  border-radius: 20px;
}
.freeBox {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 400px;
  align-self: center;
  min-width: 0;
  border-radius: 20px;
  padding: 8px 48px;
}
.freeBoxborders_flatLeft {
  background: #185adb;
  padding-left: 41px;
  padding-right: 41px;
}
.freeBoxborders_flatRight {
  padding-left: 41px;
  padding-right: 41px;
  border-radius: 20px;
}
.h4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 48px;
  padding-top: 20px;
  min-width: 0;
}
.h4borders_flatLeft {
  color: var(--token-L0G3M3oEAbIr);
  font-size: 36px;
}
.h4borders_flatRight {
  font-size: 36px;
}
.h4borders_flatCenter {
  margin-top: 52px;
}
.text__duq4E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 12px;
  min-width: 0;
}
.textprimary__duq4EKszPm {
  text-align: center;
}
.textborders_flatLeft__duq4ETpQ {
  color: var(--token-L0G3M3oEAbIr);
  text-align: center;
  font-size: 16px;
}
.textborders_flatRight__duq4EoiJ7W {
  text-align: center;
  font-size: 16px;
}
.textborders_flatCenter__duq4Eq7Nyy {
  text-align: center;
}
.img__te32A {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
  align-self: center;
}
.img__te32A > picture > img {
  object-fit: cover;
}
.columns__houFd {
  --plsmc-rc-col-gap: 0px;
}
.columns__houFd {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 32px 0px 0px;
}
.columns__houFd > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__houFd > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__houFd {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: flex-start;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__houFd > :nth-child(2n + 1) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__houFd > :nth-child(2n + 2) {
    width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
  }
}
.column__lrQKk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__me2Ob {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__me2Ob > picture > img {
  object-fit: cover;
}
.column__s1CLz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__gtF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__gtF {
    width: 100%;
    min-width: 0;
  }
}
.textborders_flatLeft__gtFTpQ {
  color: var(--token-L0G3M3oEAbIr);
  font-size: 14px;
}
.textborders_flatRight__gtFoiJ7W {
  font-size: 14px;
}
.columns___47Ibq {
  --plsmc-rc-col-gap: 0px;
}
.columns___47Ibq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___47Ibq > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns___47Ibq > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___47Ibq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___47Ibq > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter___47Ibqq7Nyy {
  display: none;
}
.column__uRr9N {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__sqWhY {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__sqWhY > picture > img {
  object-fit: cover;
}
.column___2Vje5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__h72T3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__h72T3TpQ {
  color: var(--token-L0G3M3oEAbIr);
  font-size: 14px;
}
.textborders_flatRight__h72T3OiJ7W {
  font-size: 14px;
}
.columns__m2Zab {
  --plsmc-rc-col-gap: 0px;
}
.columns__m2Zab {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__m2Zab > :nth-child(3n + 1) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__m2Zab > :nth-child(3n + 2) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 9 / 12);
}
.columns__m2Zab > :nth-child(3n + 3) {
  width: calc((100% - 3 * var(--plsmc-rc-col-gap, 0px)) * 1 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__m2Zab {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__m2Zab > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__m2Zabq7Nyy {
  display: none;
}
.column__fhlEi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__g9EAi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__g9EAi > picture > img {
  object-fit: cover;
}
.column__krDiT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__oWJn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__oWJn {
    font-size: 12px;
  }
}
.textborders_flatLeft__oWJnTpQ {
  color: var(--token-L0G3M3oEAbIr);
  font-size: 14px;
}
.column___4Vt6E {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___4Vt6E {
    display: none;
  }
}
.columnprimary___4Vt6EKszPm {
  display: none;
}
.columnborders_flatLeft___4Vt6ETpQ {
  display: none;
}
.columnborders_flatRight___4Vt6EoiJ7W {
  display: none;
}
.columns__eNMwj {
  --plsmc-rc-col-gap: 0px;
}
.columns__eNMwj {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__eNMwj > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__eNMwj > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__eNMwj {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__eNMwj > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__eNMwjq7Nyy {
  display: none;
}
.column__iehhz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__ohuYr {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__ohuYr > picture > img {
  object-fit: cover;
}
.column__wj0FZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__jW6De {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__jW6DeTpQ {
  color: var(--token-L0G3M3oEAbIr);
  font-size: 14px;
}
.columns__cwv2S {
  --plsmc-rc-col-gap: 0px;
}
.columns__cwv2S {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__cwv2S > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__cwv2S > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__cwv2S {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__cwv2S > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__cwv2Sq7Nyy {
  display: flex;
}
.column__wrkuC {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__hcTc {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__hcTc > picture > img {
  object-fit: cover;
}
.column___30Su7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text___3RQzK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__spnMr {
  --plsmc-rc-col-gap: 0px;
}
.columns__spnMr {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__spnMr > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__spnMr > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__spnMr {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__spnMr > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__spnMRq7Nyy {
  display: flex;
}
.column__drLh7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___9HtBn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___9HtBn > picture > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .img___9HtBn {
    width: 16px;
  }
}
.column__xljdg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__hzTwF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns___08G6P {
  --plsmc-rc-col-gap: 0px;
}
.columns___08G6P {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns___08G6P > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns___08G6P > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___08G6P {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns___08G6P > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter___08G6Pq7Nyy {
  display: flex;
}
.column___5EsEv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__iSa9N {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img__iSa9N > picture > img {
  object-fit: cover;
}
.column___104Ga {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__kaf1M {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.columns__xgn6E {
  --plsmc-rc-col-gap: 0px;
}
.columns__xgn6E {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__xgn6E > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns__xgn6E > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xgn6E {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns__xgn6E > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.columnsborders_flatCenter__xgn6Eq7Nyy {
  display: flex;
}
.column__pxJp9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___2H0Md {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.img___2H0Md > picture > img {
  object-fit: cover;
}
.column__ahNif {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__pcwCt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.img__wuqhq {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 32px;
}
.img__wuqhq > picture > img {
  object-fit: cover;
}
.text__z2BTv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  color: var(--token-L0G3M3oEAbIr);
  font-family: "Montserrat", sans-serif;
  font-size: 48px;
  font-weight: 700;
  align-self: center;
  padding-top: 52px;
  min-width: 0;
}
.textborders_flatLeft__z2BTvTpQ {
  display: block;
}
.textborders_flatRight__z2BTvoiJ7W {
  color: var(--token-RuuF3rMzMUBj);
  display: block;
}
.textborders_flatCenter__z2BTvq7Nyy {
  color: var(--token-RuuF3rMzMUBj);
  display: block;
}
.text__nq7Vb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  padding-top: 12px;
  color: #000000;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  min-width: 0;
}
.textborders_flatLeft__nq7VbTpQ {
  color: var(--token-L0G3M3oEAbIr);
  font-size: 16px;
}
.textborders_flatRight__nq7VboiJ7W {
  width: 100%;
  text-align: center;
  max-width: none;
  font-size: 16px;
  min-width: 0;
}
.button:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: 52px;
  margin-bottom: 52px;
}
.buttonprimary:global(.__wab_instance) {
  margin-top: 52px;
  margin-bottom: 52px;
}
.buttonborders_flatLeft:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  min-width: 0;
}
.buttonborders_flatRight:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.buttonborders_flatCenter:global(.__wab_instance) {
  margin-bottom: 52px;
  width: 100%;
  min-width: 0;
}
.svg__xWze6 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__aJkb {
    font-size: 12px;
  }
}
.textborders_flatLeft__aJkbTpQ {
  width: 100%;
  text-align: center;
  font-size: 14px;
  min-width: 0;
}
.textborders_flatRight__aJkboiJ7W {
  width: 100%;
  text-align: center;
  font-size: 12px;
  min-width: 0;
}
.textborders_flatCenter__aJkbq7Nyy {
  text-align: center;
  width: 100%;
  min-width: 0;
}
.svg__rczug {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
