.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  background: #1c1c1c;
  width: 100%;
  min-width: 0;
  padding: 64px 64px 14px;
}
.freeBox__lCq {
  display: flex;
  position: relative;
  max-width: var(--token-NwmrOugmse0Y);
  flex-direction: row;
  width: 100%;
  min-width: 0;
}
.freeBox__lCq > :global(.__wab_flex-container) {
  flex-direction: row;
  min-width: 0;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
}
.freeBox__lCq > :global(.__wab_flex-container) > *,
.freeBox__lCq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__lCq > :global(.__wab_flex-container) > picture > img,
.freeBox__lCq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lCq {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lCq > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 64px);
    height: calc(100% + 64px);
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__lCq > :global(.__wab_flex-container) > *,
  .freeBox__lCq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__lCq > :global(.__wab_flex-container) > picture > img,
  .freeBox__lCq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 64px;
  }
}
.columns {
  --plsmc-rc-col-gap: 0px;
}
.columns {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns > :nth-child(4n + 1) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns > :nth-child(4n + 2) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 3) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
.columns > :nth-child(4n + 4) {
  width: calc((100% - 4 * var(--plsmc-rc-col-gap, 0px)) * 2 / 12);
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-self: center;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 930px) {
  .columns > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___81Orl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column___81Orl {
    justify-content: center;
  }
}
.freeBox__f7Oon {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.logo:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: auto;
  left: auto;
  top: auto;
  right: auto;
  width: auto;
}
@media (min-width: 0px) and (max-width: 930px) {
  .logo:global(.__wab_instance) {
    align-self: center;
    margin-top: 0px;
  }
}
.text__w4YYo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: none;
  color: #eeeeee80;
  font-family: "Montserrat", sans-serif;
  padding-top: 21px;
  align-self: flex-start;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__w4YYo {
    text-align: center;
  }
}
.freeBox__kAee {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 32px 0px 0px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .freeBox__kAee {
    align-self: center;
    justify-content: center;
  }
}
.svg__kb1WH {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  width: auto;
  height: 1em;
}
.svg___8RrPe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___9HmPl {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.svg___5RJi {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffffd9;
  margin-left: 24px;
  height: 1em;
}
.column__c6Mz1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__c6Mz1 {
    justify-content: center;
  }
}
.h4__npQ0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__npQ0 {
    text-align: center;
  }
}
.button__m2HUa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__m2HUa:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__qe1C {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___5KsAx {
  color: #92959b;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text___5KsAx {
    text-align: center;
  }
}
.svg__yWvsK {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button___4NMGy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___4NMGy:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__uR91H {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__aXnTc {
  color: #92959b;
}
.svg__bCwKl {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__bGxRy:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__bGxRy:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__yPur {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__yw24 {
  color: #92959b;
}
.svg__gJea5 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__k5DIc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__k5DIc:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__xoNbz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___7NWkm {
  color: #92959b;
}
.svg__fMpf {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__lx6Ai {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__lx6Ai {
    justify-content: center;
  }
}
.h4__lR4Ya {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__lR4Ya {
    align-self: center;
    text-align: center;
  }
}
.button___1NpDf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button___1NpDf:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__uusrh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text___1Suud {
  color: #92959b;
}
.svg__xcUui {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__fyog0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__fyog0:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__f1IHz {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__iAeYn {
  color: #92959b;
}
.svg__eJChL {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.column__qf6Vh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .column__qf6Vh {
    justify-content: center;
  }
}
.h4__u2NE {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  text-align: left;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 930px) {
  .h4__u2NE {
    align-self: center;
    text-align: center;
  }
}
.button__z6Uy9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 26px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__z6Uy9:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__jPbGm {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__r9CtV {
  color: #92959b;
}
.svg__ttBkh {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__sghak:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__sghak:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__veFwY {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__wXpNu {
  color: #92959b;
}
.svg___9W33L {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.button__lcqJ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  align-self: flex-start;
  margin-top: 20px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .button__lcqJ:global(.__wab_instance) {
    align-self: center;
  }
}
.svg__mcXc0 {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.text__hfQDa {
  color: #92959b;
}
.svg__xhEfe {
  width: 24px;
  height: 24px;
  position: relative;
  object-fit: cover;
}
.freeBox__t1Fv1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 0px 20px;
}
.text__wQdKm {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  padding-top: 206px;
}
@media (min-width: 0px) and (max-width: 930px) {
  .text__wQdKm {
    padding-top: 129px;
  }
}
