@import url("https://fonts.googleapis.com/css2?family=Montserrat%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-NwmrOugmse0Y: 1140px;
  --plasmic-token-content-max-width: var(--token-NwmrOugmse0Y);
  --token-zH-Ez8_kk-Dk: #f2f2f7;
  --plasmic-token-light-gray-06: var(--token-zH-Ez8_kk-Dk);
  --token-1MQdAIgSoO5O: #e5e5ea;
  --plasmic-token-light-gray-05: var(--token-1MQdAIgSoO5O);
  --token-CI9rQ2kwfvmj: #92959bd9;
  --plasmic-token-light-label: var(--token-CI9rQ2kwfvmj);
  --token-2yDcMHctfVHL: #05050599;
  --plasmic-token-light-secondary: var(--token-2yDcMHctfVHL);
  --token-nUuKEhAjQkeU: #007aff;
  --plasmic-token-light-blue: var(--token-nUuKEhAjQkeU);
  --token-dTxb5-5xAVH3: #ff3b30;
  --plasmic-token-light-red: var(--token-dTxb5-5xAVH3);
  --token-L0G3M3oEAbIr: #ffffff;
  --plasmic-token-white: var(--token-L0G3M3oEAbIr);
  --token-E62llfm8F5gg: #ffffffd9;
  --plasmic-token-dark-label: var(--token-E62llfm8F5gg);
  --token-YGZCrdkdGLfV: #ffffff80;
  --plasmic-token-dark-secondary: var(--token-YGZCrdkdGLfV);
  --token-VJOVPyf0lmmi: #0000001a;
  --plasmic-token-light-quarternary: var(--token-VJOVPyf0lmmi);
  --token-RuuF3rMzMUBj: #1c1c1e;
  --plasmic-token-dark-gray-06: var(--token-RuuF3rMzMUBj);
  --token-ggBjFfts6yIZ: #32d74b;
  --plasmic-token-dark-green: var(--token-ggBjFfts6yIZ);
  --token-rJz2RDRvBkE7: #0a84ff;
  --plasmic-token-dark-blue: var(--token-rJz2RDRvBkE7);
  --token-QyKiqYIRB5pX: #ffffff1a;
  --plasmic-token-dark-quarternary: var(--token-QyKiqYIRB5pX);
  --token-OTZMRzmbadTr: #34c759;
  --plasmic-token-light-green: var(--token-OTZMRzmbadTr);
  --token-Mc5qmTXzsKWm: #5856d6;
  --plasmic-token-light-indigo: var(--token-Mc5qmTXzsKWm);
  --token-61FP6hQtyJVM: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-61FP6hQtyJVM);
  --token-61FP6hQtyJVM: #185adb;
  --plasmic-token-unnamed-style-token: var(--token-61FP6hQtyJVM);
  --token-l6JAQqA5f4NM: 1240px;
  --plasmic-token-max-width-navbar: var(--token-l6JAQqA5f4NM);
  --token-l6JAQqA5f4NM: 1240px;
  --plasmic-token-max-width-navbar: var(--token-l6JAQqA5f4NM);
  --token-jsjNJnpdzqfD: var(--token-LrTPkp52G1WY);
  --plasmic-token-unnamed-style-token-2: var(--token-jsjNJnpdzqfD);
  --token-jsjNJnpdzqfD: var(--token-LrTPkp52G1WY);
  --plasmic-token-unnamed-style-token-2: var(--token-jsjNJnpdzqfD);
  --token-LrTPkp52G1WY: #eeeeee80;
  --plasmic-token-grey: var(--token-LrTPkp52G1WY);
  --token-LrTPkp52G1WY: #eeeeee80;
  --plasmic-token-grey: var(--token-LrTPkp52G1WY);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-1Xi4UHb4RHRP_font-family: "Montserrat", sans-serif;
  --mixin-1Xi4UHb4RHRP_font-size: 24px;
  --mixin-1Xi4UHb4RHRP_font-weight: 500;
  --mixin-1Xi4UHb4RHRP_font-style: normal;
  --mixin-1Xi4UHb4RHRP_color: #00000080;
  --mixin-1Xi4UHb4RHRP_text-align: left;
  --mixin-1Xi4UHb4RHRP_text-transform: none;
  --mixin-1Xi4UHb4RHRP_line-height: 1.5;
  --mixin-1Xi4UHb4RHRP_letter-spacing: normal;
  --mixin-1Xi4UHb4RHRP_white-space: pre-wrap;
  --mixin-1Xi4UHb4RHRP_user-select: text;
  --mixin-1Xi4UHb4RHRP_text-decoration-line: none;
  --mixin-1Xi4UHb4RHRP_text-overflow: clip;
  --mixin-dzTD5gjYlGt__white-space: pre-wrap;
  --mixin-DwfSfPftytWW_font-family: "Montserrat", sans-serif;
  --mixin-DwfSfPftytWW_color: #ffffff;
  --mixin-DwfSfPftytWW_font-size: 72px;
  --mixin-DwfSfPftytWW_font-weight: 700;
  --mixin-DwfSfPftytWW_line-height: 88px;
  --mixin-DwfSfPftytWW_white-space: pre-wrap;
  --mixin-fW-2uEZ7x6xw_font-family: "Inter", sans-serif;
  --mixin-fW-2uEZ7x6xw_color: #000000;
  --mixin-fW-2uEZ7x6xw_font-size: 36px;
  --mixin-fW-2uEZ7x6xw_font-weight: 700;
  --mixin-fW-2uEZ7x6xw_line-height: 43px;
  --mixin-fW-2uEZ7x6xw_text-align: center;
  --mixin-fW-2uEZ7x6xw_white-space: pre-wrap;
  --mixin-hU6WHx1sya4X_font-family: "Inter", sans-serif;
  --mixin-hU6WHx1sya4X_color: #000000;
  --mixin-hU6WHx1sya4X_font-size: 24px;
  --mixin-hU6WHx1sya4X_font-weight: 600;
  --mixin-hU6WHx1sya4X_letter-spacing: -0.5px;
  --mixin-hU6WHx1sya4X_line-height: 1.3;
  --mixin-hU6WHx1sya4X_white-space: pre-wrap;
  --mixin-j3U_MwDTG7_F_font-family: "Montserrat", sans-serif;
  --mixin-j3U_MwDTG7_F_color: #185adb;
  --mixin-j3U_MwDTG7_F_font-size: 24px;
  --mixin-j3U_MwDTG7_F_font-weight: 700;
  --mixin-j3U_MwDTG7_F_line-height: 29px;
  --mixin-j3U_MwDTG7_F_text-align: center;
  --mixin-j3U_MwDTG7_F_white-space: pre-wrap;
  --mixin-08fwEcRNHhp__font-family: "Inter", sans-serif;
  --mixin-08fwEcRNHhp__color: #000000;
  --mixin-08fwEcRNHhp__font-size: 16px;
  --mixin-08fwEcRNHhp__font-weight: 600;
  --mixin-08fwEcRNHhp__line-height: 1.5;
  --mixin-08fwEcRNHhp__white-space: pre-wrap;
  --mixin-h4WhYF04j1H2_border-left-color: #dddddd;
  --mixin-h4WhYF04j1H2_border-left-style: solid;
  --mixin-h4WhYF04j1H2_border-left-width: 3px;
  --mixin-h4WhYF04j1H2_color: #888888;
  --mixin-h4WhYF04j1H2_padding-left: 10px;
  --mixin-h4WhYF04j1H2_white-space: pre-wrap;
  --mixin-Nw2G9CR94Wfz_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Nw2G9CR94Wfz_border-bottom-color: #dddddd;
  --mixin-Nw2G9CR94Wfz_border-bottom-style: solid;
  --mixin-Nw2G9CR94Wfz_border-bottom-width: 1px;
  --mixin-Nw2G9CR94Wfz_border-left-color: #dddddd;
  --mixin-Nw2G9CR94Wfz_border-left-style: solid;
  --mixin-Nw2G9CR94Wfz_border-left-width: 1px;
  --mixin-Nw2G9CR94Wfz_border-right-color: #dddddd;
  --mixin-Nw2G9CR94Wfz_border-right-style: solid;
  --mixin-Nw2G9CR94Wfz_border-right-width: 1px;
  --mixin-Nw2G9CR94Wfz_border-top-color: #dddddd;
  --mixin-Nw2G9CR94Wfz_border-top-style: solid;
  --mixin-Nw2G9CR94Wfz_border-top-width: 1px;
  --mixin-Nw2G9CR94Wfz_border-bottom-left-radius: 3px;
  --mixin-Nw2G9CR94Wfz_border-bottom-right-radius: 3px;
  --mixin-Nw2G9CR94Wfz_border-top-left-radius: 3px;
  --mixin-Nw2G9CR94Wfz_border-top-right-radius: 3px;
  --mixin-Nw2G9CR94Wfz_font-family: "Inconsolata";
  --mixin-Nw2G9CR94Wfz_padding-bottom: 1px;
  --mixin-Nw2G9CR94Wfz_padding-left: 4px;
  --mixin-Nw2G9CR94Wfz_padding-right: 4px;
  --mixin-Nw2G9CR94Wfz_padding-top: 1px;
  --mixin-Nw2G9CR94Wfz_white-space: pre-wrap;
  --mixin-vYc71SMeRQXe_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-vYc71SMeRQXe_border-bottom-color: #dddddd;
  --mixin-vYc71SMeRQXe_border-bottom-style: solid;
  --mixin-vYc71SMeRQXe_border-bottom-width: 1px;
  --mixin-vYc71SMeRQXe_border-left-color: #dddddd;
  --mixin-vYc71SMeRQXe_border-left-style: solid;
  --mixin-vYc71SMeRQXe_border-left-width: 1px;
  --mixin-vYc71SMeRQXe_border-right-color: #dddddd;
  --mixin-vYc71SMeRQXe_border-right-style: solid;
  --mixin-vYc71SMeRQXe_border-right-width: 1px;
  --mixin-vYc71SMeRQXe_border-top-color: #dddddd;
  --mixin-vYc71SMeRQXe_border-top-style: solid;
  --mixin-vYc71SMeRQXe_border-top-width: 1px;
  --mixin-vYc71SMeRQXe_border-bottom-left-radius: 3px;
  --mixin-vYc71SMeRQXe_border-bottom-right-radius: 3px;
  --mixin-vYc71SMeRQXe_border-top-left-radius: 3px;
  --mixin-vYc71SMeRQXe_border-top-right-radius: 3px;
  --mixin-vYc71SMeRQXe_font-family: "Inconsolata";
  --mixin-vYc71SMeRQXe_padding-bottom: 3px;
  --mixin-vYc71SMeRQXe_padding-left: 6px;
  --mixin-vYc71SMeRQXe_padding-right: 6px;
  --mixin-vYc71SMeRQXe_padding-top: 3px;
  --mixin-vYc71SMeRQXe_white-space: pre-wrap;
  --mixin-ad8nfQdHe5FV_display: flex;
  --mixin-ad8nfQdHe5FV_flex-direction: column;
  --mixin-ad8nfQdHe5FV_align-items: stretch;
  --mixin-ad8nfQdHe5FV_justify-content: flex-start;
  --mixin-ad8nfQdHe5FV_list-style-position: outside;
  --mixin-ad8nfQdHe5FV_padding-left: 40px;
  --mixin-ad8nfQdHe5FV_position: relative;
  --mixin-ad8nfQdHe5FV_list-style-type: decimal;
  --mixin-ad8nfQdHe5FV_white-space: pre-wrap;
  --mixin-CQTSVwkWhrng_display: flex;
  --mixin-CQTSVwkWhrng_flex-direction: column;
  --mixin-CQTSVwkWhrng_align-items: stretch;
  --mixin-CQTSVwkWhrng_justify-content: flex-start;
  --mixin-CQTSVwkWhrng_list-style-position: outside;
  --mixin-CQTSVwkWhrng_padding-left: 40px;
  --mixin-CQTSVwkWhrng_position: relative;
  --mixin-CQTSVwkWhrng_list-style-type: disc;
  --mixin-CQTSVwkWhrng_white-space: pre-wrap;
  --mixin-wDYm6JVBtvE6_color: #000000;
  --mixin-wDYm6JVBtvE6_font-family: "Montserrat", sans-serif;
  --mixin-wDYm6JVBtvE6_font-size: 64px;
  --mixin-wDYm6JVBtvE6_font-weight: 700;
  --mixin-wDYm6JVBtvE6_line-height: 78px;
  --mixin-wDYm6JVBtvE6_text-align: center;
  --mixin-wDYm6JVBtvE6_white-space: pre-wrap;
  --mixin-bQTZZNqjHWMi_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 930px) {
  .plasmic_default_styles {
    --mixin-1Xi4UHb4RHRP_font-size: 16px;
    --mixin-1Xi4UHb4RHRP_line-height: 27px;
    --mixin-1Xi4UHb4RHRP_white-space: pre-wrap;
    --mixin-DwfSfPftytWW_font-size: 40px;
    --mixin-DwfSfPftytWW_line-height: 48px;
    --mixin-DwfSfPftytWW_white-space: pre-wrap;
    --mixin-wDYm6JVBtvE6_font-size: 28px;
    --mixin-wDYm6JVBtvE6_line-height: 34px;
    --mixin-wDYm6JVBtvE6_white-space: pre-wrap;
  }
}

.plasmic_mixins {
  --mixin-84lvv7lcFm-3_white-space: pre-wrap;
  --plasmic-mixin-container_white-space: var(--mixin-84lvv7lcFm-3_white-space);
  --mixin-LE1wOCoIzRQP_box-shadow: 0px 10px 10px 0px #00000026;
  --plasmic-mixin-medium-shadow_box-shadow: var(
    --mixin-LE1wOCoIzRQP_box-shadow
  );
  --mixin-LE1wOCoIzRQP_white-space: pre-wrap;
  --plasmic-mixin-medium-shadow_white-space: var(
    --mixin-LE1wOCoIzRQP_white-space
  );
  --mixin-OF9O6Zz4E7DQ_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-OF9O6Zz4E7DQ_white-space);
  --mixin-wpE01V97phQH_white-space: pre-wrap;
  --plasmic-mixin-dark-section-background_white-space: var(
    --mixin-wpE01V97phQH_white-space
  );
  --mixin-x3dsjhpuNrog_white-space: pre-wrap;
  --plasmic-mixin-content-max_white-space: var(
    --mixin-x3dsjhpuNrog_white-space
  );
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-1Xi4UHb4RHRP_font-family);
  font-size: var(--mixin-1Xi4UHb4RHRP_font-size);
  font-weight: var(--mixin-1Xi4UHb4RHRP_font-weight);
  font-style: var(--mixin-1Xi4UHb4RHRP_font-style);
  color: var(--mixin-1Xi4UHb4RHRP_color);
  text-align: var(--mixin-1Xi4UHb4RHRP_text-align);
  text-transform: var(--mixin-1Xi4UHb4RHRP_text-transform);
  line-height: var(--mixin-1Xi4UHb4RHRP_line-height);
  letter-spacing: var(--mixin-1Xi4UHb4RHRP_letter-spacing);
  white-space: var(--mixin-1Xi4UHb4RHRP_white-space);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-DwfSfPftytWW_font-family);
  color: var(--mixin-DwfSfPftytWW_color);
  font-size: var(--mixin-DwfSfPftytWW_font-size);
  font-weight: var(--mixin-DwfSfPftytWW_font-weight);
  line-height: var(--mixin-DwfSfPftytWW_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-fW-2uEZ7x6xw_font-family);
  color: var(--mixin-fW-2uEZ7x6xw_color);
  font-size: var(--mixin-fW-2uEZ7x6xw_font-size);
  font-weight: var(--mixin-fW-2uEZ7x6xw_font-weight);
  line-height: var(--mixin-fW-2uEZ7x6xw_line-height);
  text-align: var(--mixin-fW-2uEZ7x6xw_text-align);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-hU6WHx1sya4X_font-family);
  color: var(--mixin-hU6WHx1sya4X_color);
  font-size: var(--mixin-hU6WHx1sya4X_font-size);
  font-weight: var(--mixin-hU6WHx1sya4X_font-weight);
  letter-spacing: var(--mixin-hU6WHx1sya4X_letter-spacing);
  line-height: var(--mixin-hU6WHx1sya4X_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-j3U_MwDTG7_F_font-family);
  color: var(--mixin-j3U_MwDTG7_F_color);
  font-size: var(--mixin-j3U_MwDTG7_F_font-size);
  font-weight: var(--mixin-j3U_MwDTG7_F_font-weight);
  line-height: var(--mixin-j3U_MwDTG7_F_line-height);
  text-align: var(--mixin-j3U_MwDTG7_F_text-align);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-08fwEcRNHhp__font-family);
  color: var(--mixin-08fwEcRNHhp__color);
  font-size: var(--mixin-08fwEcRNHhp__font-size);
  font-weight: var(--mixin-08fwEcRNHhp__font-weight);
  line-height: var(--mixin-08fwEcRNHhp__line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-h4WhYF04j1H2_color);
  padding-left: var(--mixin-h4WhYF04j1H2_padding-left);
  border-left: var(--mixin-h4WhYF04j1H2_border-left-width)
    var(--mixin-h4WhYF04j1H2_border-left-style)
    var(--mixin-h4WhYF04j1H2_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Nw2G9CR94Wfz_font-family);
  border-radius: var(--mixin-Nw2G9CR94Wfz_border-top-left-radius)
    var(--mixin-Nw2G9CR94Wfz_border-top-right-radius)
    var(--mixin-Nw2G9CR94Wfz_border-bottom-right-radius)
    var(--mixin-Nw2G9CR94Wfz_border-bottom-left-radius);
  padding: var(--mixin-Nw2G9CR94Wfz_padding-top)
    var(--mixin-Nw2G9CR94Wfz_padding-right)
    var(--mixin-Nw2G9CR94Wfz_padding-bottom)
    var(--mixin-Nw2G9CR94Wfz_padding-left);
  border-top: var(--mixin-Nw2G9CR94Wfz_border-top-width)
    var(--mixin-Nw2G9CR94Wfz_border-top-style)
    var(--mixin-Nw2G9CR94Wfz_border-top-color);
  border-right: var(--mixin-Nw2G9CR94Wfz_border-right-width)
    var(--mixin-Nw2G9CR94Wfz_border-right-style)
    var(--mixin-Nw2G9CR94Wfz_border-right-color);
  border-bottom: var(--mixin-Nw2G9CR94Wfz_border-bottom-width)
    var(--mixin-Nw2G9CR94Wfz_border-bottom-style)
    var(--mixin-Nw2G9CR94Wfz_border-bottom-color);
  border-left: var(--mixin-Nw2G9CR94Wfz_border-left-width)
    var(--mixin-Nw2G9CR94Wfz_border-left-style)
    var(--mixin-Nw2G9CR94Wfz_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-vYc71SMeRQXe_font-family);
  border-radius: var(--mixin-vYc71SMeRQXe_border-top-left-radius)
    var(--mixin-vYc71SMeRQXe_border-top-right-radius)
    var(--mixin-vYc71SMeRQXe_border-bottom-right-radius)
    var(--mixin-vYc71SMeRQXe_border-bottom-left-radius);
  padding: var(--mixin-vYc71SMeRQXe_padding-top)
    var(--mixin-vYc71SMeRQXe_padding-right)
    var(--mixin-vYc71SMeRQXe_padding-bottom)
    var(--mixin-vYc71SMeRQXe_padding-left);
  border-top: var(--mixin-vYc71SMeRQXe_border-top-width)
    var(--mixin-vYc71SMeRQXe_border-top-style)
    var(--mixin-vYc71SMeRQXe_border-top-color);
  border-right: var(--mixin-vYc71SMeRQXe_border-right-width)
    var(--mixin-vYc71SMeRQXe_border-right-style)
    var(--mixin-vYc71SMeRQXe_border-right-color);
  border-bottom: var(--mixin-vYc71SMeRQXe_border-bottom-width)
    var(--mixin-vYc71SMeRQXe_border-bottom-style)
    var(--mixin-vYc71SMeRQXe_border-bottom-color);
  border-left: var(--mixin-vYc71SMeRQXe_border-left-width)
    var(--mixin-vYc71SMeRQXe_border-left-style)
    var(--mixin-vYc71SMeRQXe_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ad8nfQdHe5FV_display);
  flex-direction: var(--mixin-ad8nfQdHe5FV_flex-direction);
  align-items: var(--mixin-ad8nfQdHe5FV_align-items);
  justify-content: var(--mixin-ad8nfQdHe5FV_justify-content);
  list-style-position: var(--mixin-ad8nfQdHe5FV_list-style-position);
  padding-left: var(--mixin-ad8nfQdHe5FV_padding-left);
  position: var(--mixin-ad8nfQdHe5FV_position);
  list-style-type: var(--mixin-ad8nfQdHe5FV_list-style-type);
  flex-column-gap: var(--mixin-ad8nfQdHe5FV_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-CQTSVwkWhrng_display);
  flex-direction: var(--mixin-CQTSVwkWhrng_flex-direction);
  align-items: var(--mixin-CQTSVwkWhrng_align-items);
  justify-content: var(--mixin-CQTSVwkWhrng_justify-content);
  list-style-position: var(--mixin-CQTSVwkWhrng_list-style-position);
  padding-left: var(--mixin-CQTSVwkWhrng_padding-left);
  position: var(--mixin-CQTSVwkWhrng_position);
  list-style-type: var(--mixin-CQTSVwkWhrng_list-style-type);
  flex-column-gap: var(--mixin-CQTSVwkWhrng_flex-column-gap);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-wDYm6JVBtvE6_color);
  font-family: var(--mixin-wDYm6JVBtvE6_font-family);
  font-size: var(--mixin-wDYm6JVBtvE6_font-size);
  font-weight: var(--mixin-wDYm6JVBtvE6_font-weight);
  line-height: var(--mixin-wDYm6JVBtvE6_line-height);
  text-align: var(--mixin-wDYm6JVBtvE6_text-align);
}

:where(.root_reset) h2:where(.h2):hover,
h2:where(.root_reset.h2):hover,
:where(.root_reset .__wab_expr_html_text) h2:hover,
:where(.root_reset_tags) h2:hover,
h2:where(.root_reset_tags):hover {
}
